<h1 color="green">Welcome to RottenDogs.com!</h1>
<h3 color="blue">Instructions </h3>
<p>
  <ul>
    <li>To search for a movie and see its rating, add "/t=<color="red">movie_title"</> to the end of the above url</li>
  </ul>
</p>
