<%=image_tag "Photos1.jpg", id: "furbabies" %>
<div class="searchbar">
<form>
  <input class="barofsearch" type="text" placeholder="Movie search.." required>
  <input type="button" value="Search">
</form>
</div>
