<%=image_tag "Photos1.jpg", id: "furbabies" %>
<h3>Instructions </h3>
<p>
  <ul>
    <li>To search for a movie and see its rating, add either of the following options to the above url.</li>
    <li> You'll provide movie name and desired plot summary size by supplying <i>full</i> or <i>short</i></li>
      <ul>
        <li><b>'/api/v1/<i>your_movie-name/short-or-full</i></b>' to the end of the above url.</li>
        <li><b>'/api/v1/search?movie_name=<i>your_movie-name/short-or-full</i></b>' to the end of the above url.</li>
  </ul>
</p>
