<%=image_tag "Photos1.jpg", id: "furbabies" %>
<div>
<h3 class="instructions">Instructions </h3>
</div>
<div>
      <h4 class="instructions">To search for a movie and see its rating, add either of the following options to the above url.</h4>
      <p class="instructions"> You'll provide movie name and desired plot summary size by supplying <i>full</i> or <i>short</i></p>
      <p class="instructions"><b>'/api/v1/<i>your_movie-name/short-or-full</i></b>' to the end of the above url.</p>
      <p class="instructions"><b>'/api/v1/search?movie_name=<i>your_movie-name/short-or-full</i></b>' to the end of the above url.</p>
</div>
