<%=image_tag "Photos1.jpg", id: "furbabies" %>
<h3 color="blue">Instructions </h3>
<p>
  <ul>
    <li>To search for a movie and see its rating, add <b>'search?movie_name=<i>your_movie-name</i></b>' to the end of the above url.</li>
  </ul>
</p>
