// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#furbabies {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
.searchbar {
  margin-left: 5%;
  margin-right: auto
}
  .barofsearch {
    width:1200px;
    margin:50px auto;
  }
  .search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
  }
  .button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
  }
  .button:hover  {
    background-color:#fafafa;
    color:#207cca;
  }
  .instructions {
    text-align: center;
  }
  #instructions {
    margin-left: 42%;
    position: center;
  }
  h4.instructions {
    text-align: center;
  }
